body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  padding: 1rem;
}

ul {
  list-style-type: '- ';
  padding: 0.5rem;
}

span {
  padding: 0.3rem;
}

.table {
  margin-top: 1rem;
}

.btn {
  margin: 0.5rem;
}

.lng-btn {
  height: 1.5rem;
  padding: 0;
}

.lng-btn img {
  max-width: 100%;
  max-height: 100%;
}

.position-btn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.bold-font {
  font-weight: bold;
}